body {
  background: #e7e7e7;
  box-sizing: border-box;
}
.wrapper{
  padding-top: 50px;
  width: 40%;
  text-align: center;
}
.Login{
  border-radius: 5%;
  height: 550px;
}
.link{
  display: block;
  padding: 25px;
}
Button{
  margin-top: 20px;
  color: white;
  background: blue;
}

@media all and (min-width: 480px) {
    
    .Login {
      padding: 60px 0;
      text-align: center;
      background: white;
      
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    
    
  }