body {
  background: #e7e7e7
}
.Login{
  width: 40%;
  border-radius: 5%;
}

@media all and (min-width: 480px) {
    
    .Login {
      padding: 60px 0;
      text-align: center;
      background: white;
      
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    
    
  }