@font-face{
    font-family: 'Avenir';
    src: url(../assets/fonts/AvenirLTStd-Book.woff) format(woff);
}

@font-face{
    font-family: 'American Typewriter Bold';
    src: local('American Typewriter Bold'), url(../assets/fonts/ufonts.com_american-typewriter-bold.woff), format(woff);
}

$avenir: 'Avenir', sans-serif;
$american-typewriter-bold: 'American Typewriter Bold', serif;