.new-request-white-container {
    background-color: white;
    padding: 20px;
    height: 90vh;
    margin: 70px;
}

.new-request-title{
    text-align: center;
    font-size: 20px;
}

form {
    font-size: 18px;
}

.filter-gray{
    width: 340px;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 10px;
    color: #0076ff;
    background-color:#e7e7e7;
    border: none;
    font-family: "American Typewriter Bold", serif;
  }

.title-request {
    font-size: 25px; 
    font-family: "American Typewriter Bold", serif;
}

.bold-btn{
    font-family: "American Typewriter Bold", serif;
}

.dropdown-btn Button{
    background: #e7e7e7;
    color: #0076ff; 
}

.type {
    margin-bottom: 70px;
}

.message-container {
    margin-top: 70px;
}

.outd-btn {
    background: white;
    color: #007bff;
}

.two-btns-request {
    position: absolute;
    bottom: 6%;
    left: 45%;
    margin: 15px
}

.btn-back {
    background: #e7e7e7;
    font-size: 19px;
    color: #0076ff;
    margin: 10px;
    padding-left: 26px;
    border: none;
    background-image: url(/static/media/back_icon.34d55556.svg);
    background-repeat: no-repeat;
    background-position: left center;
    border-radius: 6px;
    position: absolute;
}

.border-none {
    border-top: none;
    border-left: none;
    border-right: none;
}

.map-container {
    height: 200px;
    width: 350px; 
    position: relative;
  }