.create-news{
    max-width: 60%;
    margin: 20px;
    background: white;
}

.heading-create-news{
    display: flex;
    font-family: $american-typewriter-bold;
    margin-left: 100px;
}

.border-none{
    border-top: none;
    border-left: none;
    border-right: none;
}

.btn-submit{
  color: white;
  background: rgb(16,65,160);
  background: linear-gradient(90deg, rgba(16,65,160,1) 0%, rgba(17,93,185,1) 35%, rgba(13,122,214,1) 100%);
  max-width: 150px;
  font-family: $american-typewriter-bold;
  width: 200px;
}

.btn-cancel{
    border: 1px solid #0076ff;
    background: white;
    font-family: $american-typewriter-bold;
    width: 200px;
    color: #0076ff;
}

.location-form{
    height: 300px;
    width: 40%;
    display: flex;
}

.document-form{
    width: 50%;
}

.map-container{
    width: 50%;
    height: 100px;
    margin-left: 20px;
    position: relative;
}

//NewsContainer

.no-dropdown{
    display: flex;
    flex-flow: row wrap;
}

.title{
    font-family: $american-typewriter-bold;
    font-size: 1.3em;
    color: black;
}

.text{
    font-family: $avenir-book;
    color: black;
    font-size: 0.9em;
    height: 220px;
}

.author-date{
    display: flex;
    margin-top: 10px;
}

.author{
    font-family: $avenir-book;
    color: black;
    font-size: 0.7em;
    width: 49%;
}

.date{
    font-family: $avenir-book;
    color: black;
    font-size: 0.7em;
    width: 49%;
    text-align: right;
}

//opennews.js
.open-title{
    font-family: $american-typewriter-bold;
    font-size: 1.6em;
}
.open-text{
    font-family: $avenir-book;
}

.open-author-date{
    display: flex;
    margin-top: 10px;
    font-family: $avenir-book;
    margin-bottom: 0;
    margin-top: 90px;
}

.open-author{
    color: black;
    font-size: 0.7em;
    width: 49%;
}

.open-date{
    color: black;
    font-size: 0.7em;
    width: 49%;
    text-align: right;
}

//addedDocument.js

.added-document{
    background: #e7e7e7;
    width: 100px;
    font-family: $avenir-book;
    display: flex;
}