.profile-container{
    background: white;
    display: flex;
    align-content: center;
    margin-top: 10px;
    margin-left: 10px;
    height: 600px;
    max-width: 40%;
}

.change-password{
    width: 30%;
    background: white;
    height: 500px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 10px;
}

.heading-password-change{
    padding-top: 20px;
    font-family: $avenir-book;
    padding-bottom: 20px;
    font-weight: 800;
}

.change-password > form {
    width: 90%;
    align-self: center;
    font-family: $avenir-book;
}

.btn-change{
    font-family: $american-typewriter-bold;
}