
.container-gray {
  background: #E7E7E7; 
  width: 100%;
}

.requests-text {

  color: #0076ff;
  font-size: 20px;
  text-align: center;
  padding-top: 32px;
  font-weight: 700;
  font-family: "American Typewriter Bold", serif;

}

.filter{
  width: 340px;
  font-size: 25px;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #0076ff;
  background-color: white;
  border: none;
  font-family: "American Typewriter Bold", serif;
}

.container-wide {
  padding-right: 30px;
  padding-left: 30px;
}

.card {
  height: 350px;
  margin-bottom: 15px;
  margin-top: 15px;
}

a.card-inner {
  height: 100%;
  width: 100%;
}
a.card-new-request {
  text-align: center;
}

.card-new-request-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img.card-img-top {
  height: 200px;
}


