@import './fonts';



//singleuser.js
.user{
    max-width: 43%;
    display: flex;
    margin: 15px;
    border-radius: 2px;
    background: white;
}

.profile-photo{
    max-width: 55px;
    max-height: 55px;
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: 1px;
    border-radius: 50%
}

.user-info{
    padding-left: 13px;
    padding-top: 10px;
}
.user-info > h3{
    font-family: $american-typewriter-bold;
    margin-bottom: 0;
}
.user-info > p{
    font-family: $american-typewriter-light;
    color: grey;
    margin-bottom: 0;
}


//users.js
.btn-new-user{
    display: flex;
    max-width: 30%;
    height: 40px;
    background: #0076ff;
    color: white;
    font-size: 1.2rem;
    align-content: center;
    justify-content: center;
    font-family: 'American Typewriter Bold', serif;
    margin: 0;
}
.btn-new-user > svg {
    max-width: 20px;
    max-height: 20px;
    fill: currentColor;
}



//AddNewUser.js
.new-user-form{
    border-radius: 5px;
    
}

.return{
    background: #e7e7e7;
    border: none;
    font-family: $american-typewriter-bold;
    color: #0076ff;
    display: flex;
    margin-left: 15px;
    margin-right: 0;
}
.heading-new-user{
    display: flex;
    font-family: $american-typewriter-bold;
    margin-left: 100px;
}

.label-custom{
    font-family: $avenir-book;
}

.new-user-form-container{
    padding: 20px;
}
.add-user-photo{
    display: flex;
    justify-content: center;
}
