
.user{
    max-width: 30%;
    display: flex;
    margin: 15px;
}

.profile-photo{
    max-width: 150px;
    border-radius: 10px;
    padding-left: 20px;
}

.user-info{
    padding-left: 20px;
    padding-top: 10px;
}
