body {
  box-sizing: border-box;
}
h5{
  padding-top: 10px;
}

.wrapper{
  padding-top: 20px;
  background: #e7e7e7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.Login{
  padding-top: 20px;
  border-radius: 5%;
  width: 40%;
  max-width: 530px;
}
.msg{
  padding: 0px 30px;
}

.link{
  display: block;
  padding: 30px;
}
.btn-login{
  margin-top: 20px;
  color: white;
  background: rgb(16,65,160);
  background: linear-gradient(90deg, rgba(16,65,160,1) 0%, rgba(17,93,185,1) 35%, rgba(13,122,214,1) 100%);
  display: inline-block;
  max-width: 150px;
  margin: auto;
}
.heading{
  padding-top: 10px;
  font-size: 1.3em;
}
.form-info{
  text-align: left;
}
footer{
  padding: 20px;
  text-align: center;
}



@media all and (min-width: 480px) {
    
    .Login {
      text-align: center;
      background: white;
      
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    
    
  }